<section class="hero is-success">
    <div class="hero-body">
      <p class="title">
        Editor de Texto utilizado para la Creación de la página
      </p>
      <p class="subtitle">
        <a target="_blank" href="https://code.visualstudio.com"> Visual Studio Code </a> <!-- target="_blank" funciona como para que cuando cargue el link lo haga en otra pestana-->
        <br></br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png" width="120 "/>
      </p>
    </div>
  </section>

</body>
</html>

