<%- include('includes/head.ejs') %>


<div id="Sobre mi">
  <H3 align="center"><em> Creador </em></H3>
  <div class="card">
    <div class="card-content">
      <div class="media">
          <div class="media-left">
              <figure class="image is-48x48">
                  <img src="https://avatars.githubusercontent.com/u/88755452?v=4" alt="Placeholder image">
              </figure>
          </div>
          <div class="media-content">
              <p class="title is-4">Leonardo Ramos</p>
              <p class="subtitle is-6"><a  target="_blank" href="https://github.com/Leonardo812">@Leonardo812</a></p>
          </div>
      </div>
      <div class="content">
          Soy una persona tranquila, algo reservada. Me encantan los dias Lluviosos, no me gustan los dias con demasiado sol, adoro la pizza, los videojuegos y tengo cierto disgusto por las serpientes
          <br>
          <time datetime="2016-1-1">2:24 PM - 15 Agosto 2022</time>
      </div>
  </div>
  </div>
  <br>

  
 

  <div class="column">
    <div class="box">
      <div class="card-image">
        <figure>
          <img src="https://www.hobbyaficion.com/wp-content/uploads/2018/11/grupos-1080x675.jpg" width="400" alt="Placeholder image">
        </figure>
      </div>
      <p class="title is-5">Lo que me gusta hacer:</p>
      
      <p class="subtitle">        <ul> 
        <li>Jugar Videojuegos</li>
        <li>Jugar Ajedrez</li>
        <li>Practicar el Piano</li>
        <li>Leer novelas ligeras</li>
       
    </ul></p>
    </div>
  </div>


  <H3 align="center"><em> Cuentame sobre ti</em></H3>
  <div class="container ">
    <center>
      <figure class="image is-128x128">
        <img src="https://i.pinimg.com/originals/72/3d/0a/723d0af616b1fe7d5c7e56a3532be3cd.png" alt="control juegos">
        </figure>
        <a href="/perfil"><button class="button is-danger is-light">A mi me gusta</button></a>
    </center>
  </div>

      </div><br><br>  
      <br>
      <hr>
      



<!-- Preguntas a responder -->
<br>
<H3 align="center"><em>Preguntas a responder </em></H3>
<br>

<hr>

<article>
  <section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="subtitle"> ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</p>
      <p> Agregar nuevos metodos de consulta es mas sencillo, pues es en la capa del modelo donde estan los datos.</p>
      <br></br>
      <p class="subtitle"> ¿Cómo evitar el SQL injection?</p>
      <ul>
        <li>Asegura que cada valor convertido sea el que le correspondiente</li>
        <li>No mostrar al usuario información de los errores generados en la base de datos</li>
        <li>Parametrizar las consultas SQL</li>
      </ul>
      </p>
    </div>
  </section>  
</article>
</div>
</div>

<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      Framework utilizado
    </p>
    <p class="subtitle">
      <a target="_blank" href="https://bulma.io"> Bulma </a> <!-- target="_blank" funciona como para que cuando cargue el link lo haga en otra pestana-->
      <br></br>
      <img src="https://raw.githubusercontent.com/github/explore/ad9cd7e959a88047c830c3a9cc4e9ffcf5e644f7/topics/bulma/bulma.png" width="120 "/>
    </p>
  </div>
</section>
</body>


<%- include('includes/foot.ejs') %>