<!DOCTYPE html>
<div class="container ">
    <head>
        <link rel="stylesheet" href="\public\styles.css" type="text/css"/>  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <meta charset="utf-8" />
        <title> Lab17 </title>
    </head>
    <body>
        <div class="hero is-warning">
            <div class="hero-head">
                <div class="hero-body has-text-centered">
                    <div class="title">
                        Bienvenidos a mi blog
                    </div>
    
                            </div>
                        </div>
                    </div>
        <header>
        <div id=Content>
            <center> <img id="logo" src="https://www.hyperhype.es/wp-content/uploads/2021/09/Deltarune.jpg" alt="Imagen Deltarune"></center><br>
            <br>           
        </header>
        
        

