<%- include('includes/head.ejs')  %> 
<%- include('includes/header.ejs')  %> 

     
        <nav>
            por Leonardo Santiago Ramos Pérez A01707812
        </nav>
        <hr>  
        <article>
            
                <ul>
                    <li class="Titulos1"> <h2> Ejercicio 1</h2> </li>
                    <div id="res1"></div>

                    <li class="Titulos1"> <h2> Ejercicio 2</h2></li>
                    <div id="res2"></div>

                    <li class="Titulos1"> <h2> Ejercicio 3</h2> </li>
                    <div id="res3"></div>

                    <li class="Titulos1"> <h2> Ejercicio 4</h2></li>
                    <div id="res4"></div>

                    <li class="Titulos1"> <h2> Ejercicio 5</h2> </li>
                    <div id="res5"></div>

                    <li class="Titulos1"> <h2> Ejercicio 6</h2> </li>
                    <p> Se pide el lado de un cuadrado, posteriormente se calcula su Area y su perimetro:</p>
                    <div id="usuario"></div>
                    <div id="res6"></div>
                    <div id="res7"></div>



                </ul>
                <br></br>
                <h2 class="Titulos2"> Preguntas</h2>
                <ol>
                    <li>Qué diferencias y semejanzas hay entre Java y JavaScript?</li>
                            <p>  Java es un lenguaje de programación diseñado para aplicaciones no considerados ordenadores, como las tablets, consolas de a bordo, celulares, etc. Esto debido a que cuentan con recursos limitados (memoria, disco duro). Java es un lenguaje que necesita compilar usando Java Virtual Machine permitiendo que la maquina lo interprete. Java cuenta un tipado fuerte y JavaScript por otra parte tiene un tipado débil.</p>
                    
                            <p>JavaScript es un lenguaje de programación web, usado comunmente para aplicaciones y páginas web. Es considerado más creativo, pues esta dedicado al desarrollo de aplicaciones denominadas front end. </p>
                    <li>Qué métodos tiene el objeto Date? (Menciona al menos 5*)</li>
                    <p> El objeto date trabaja con horas y fechas</p>
                    
                    <ul>
                      <li>getMinutes() ----> Devuelve los minutos actuales (0 a 59). </li>
                      <li>getHours() ----> Devuelve la hora actual (0hrs - 23 hrs)</li>
                      <li>getDay() ----> Devuelve el día de la semana (0=Domingo, 6=Sabado)</li>
                      <li>getDate() ----> Devuelve el día del mes, (1-31)</li>
                      <li>getMonth() ----> Devuelve el número de mes (0= Enero, 11= Diciembre)</li>
                      <li>getFullYear() ----> Devuelve el año en 4 dígitos. (XXXX)</li>
                    </ul>
                    <br></br>
                    <li>¿Qué métodos tienen los arreglos? (Menciona al menos 5*)</li>
                    <p>En JavaScript [] representa un arreglo </p>
                    <ul>
                        <li>push() ----> Inserta un elemento en el final de un arreglo.</li>
                        <li>pop() ----> Remueve un elemento en el final de un arreglo.</li>
                        <li>length ----> Mide el tamaño del arreglo.</li>
                        <li>shift() ----> Remueve un elemento en el principio del arreglo.</li>
                        <li>unshift() ----> Inserta un elemento en el principio del arreglo.</li>
                        <li>Array.isArray() ----> Determina si el valor dado es un arreglo. </li> 
                    </ul> 
                    <br></br>
                    <li>¿Cómo se declara una variable con alcance local dentro de una función?</li>
                    <p>" Let " Declara variables limitando su alcance a un bloque, declaración, o expresión en el lugar donde se usa.</p> 
                    <br></br>
                    <li>¿Qué implicaciones tiene utilizar variables globales dentro de funciones?</li>
                    <p>Usar variables globales, usa mayor memoria, limita el programa y puede ser complicado de leer. Aunque tambien puede ayudar a mantener valores constantes</p>
                    </ul>
                    
                </ol>
       

        </article>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="js/js.js"></script>
        <script> M.AutoInit();</script>
    </body>
</html>

