<!DOCTYPE html>
<html>
    <head><meta charset="UTF-8"></head>
    <body>   <h1> Bienvenido al gran salon </h1>
        <form action="juegos" method="POST">
        <img src="https://c.wallhere.com/photos/97/cc/video_games_digital_art_Space_Invaders_retro_games_black_background_minimalism_simple_background-258060.jpg!d" width="500 "/>
        <fieldset>
        <h1> Para jugar alguno de los videojuegos, seleccione una opción: <h1>
        <h5> 1.- Fornite: </h5>
        <h5> 2.- Dead by Daylight: </h5>
        <h5> 3.- League of Legends: </h5>
        <h5> 4.- Valorant: </h5>
        <label for="videojuegos">Escribe</label><input type="text" name="videojuegos" id="videojuegos">
        </fieldset>
        <input type="submit" value="Enviar">
        </form>
    </body>

</html>
       