<h1>Acceder</h1>
<form action="login" method="POST">
    <fieldset>
        <legend>Datos del usuario</legend>
            <input placeholder="paul" id="username" name="username" type="text" required>
            <label for="username">Nombre de usuario</label>
            <input placeholder="*******" id="password" name="password" type="password" required>
            <label for="password">Password</label>
    </fieldset>
    <br>
    <input type="submit" class="btn" value="Entrar">
</form>