<h1>Pregunta al pulpo quién va a ganar</h1>
<form action="trivia" method="POST">
    <fieldset>
        <legend>Equipos</legend>
        <label for="visitante">Visitante</label>
        <input type="text" name="visitante" id="visitante">
        <br><br>
        <label for="local">Local</label>
        <input type="text" name="local" id="local">
    </fieldset>
    <br>
    <input type="submit" class="btn" value="Adivina">
</form>